*.iml
.gradle
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

# Android build
android-source/build/
android-source/app/build/

# Windows build
windows-source/target/
windows-source/.mvn/

# Old artifacts
/build
/apk
